<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.wexchain.dcc">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- for wechat sdk -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- end of wechat sdk -->
    <application
        android:name="io.wexchain.android.dcc.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_dcc"
        android:label="@string/dcc_app_name"
        android:supportsRtl="false"
        android:theme="@style/DccLightTheme.App"
        tools:replace="android:allowBackup,android:icon,android:label,android:theme,android:supportsRtl">
        <activity
            android:name="io.wexchain.android.dcc.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bitexpress"
                    android:pathPrefix="/loadingactivity"
                    android:scheme="scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.wexchain.android.dcc.MyCreditNewActivity"
            android:label="@string/my_credit"
            android:screenOrientation="portrait" />

        <activity
            android:name="io.wexchain.android.dcc.SubmitIdActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_id_certification"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.SubmitBankCardActivity"
            android:label="@string/bank_account_verification"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.CreatePassportActivity"
            android:label="@string/create_new_digital_wallet"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.trans.activity.DccExchangeActivity"
            android:label="@string/dcc"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.SubmitCommunicationLogActivity"
            android:label="@string/title_phone_carrier_certification"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.PassportImportActivity"
            android:label="@string/title_import_wallet"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.DigitalCurrencyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.DigitalTransactionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.DigitalTransactionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.CreateTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.QrScannerActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/DccLightTheme.App.Transparent" />
        <activity
            android:name="io.wexchain.android.dcc.PassportAddressActivity"
            android:label="@string/passport_address"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.IdCertificationActivity"
            android:label="@string/title_id_certification_data"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.BankCardCertificationActivity"
            android:label="@string/title_bank_card_certification_data"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.CmLogCertificationActivity"
            android:label="@string/phone_carrier_certification_data"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.PassportSettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.PassportRemovalActivity"
            android:label="@string/passport_removal"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.EditNicknameActivity"
            android:label="@string/modify_nickname"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateUnspecified" />
        <activity
            android:name="io.wexchain.android.dcc.PassportExportActivity"
            android:label="@string/passport_backup"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.ModifyPassportPasswordActivity"
            android:label="@string/change_the_wallet_password"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.SearchDigitalCurrencyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.ChooseCutImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.MarketingScenariosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.PassportActivity"
            android:label="统一登录"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.PassportCreationSucceedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.SubmitNewTokenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.AuthManageActivity"
            android:label="统一登录变更记录"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.AboutActivity"
            android:label="@string/about_us"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.AddBeneficiaryAddressActivity"
            android:label="@string/add_annew_collection_address"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.addressbook.activity.AddAddressBookActivity"
            android:label="@string/add_address"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.addressbook.activity.AddressBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.LoanProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.StartLoanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.LoanSubmitResultActivity"
            android:label="@string/result_of_loan_application"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.repay.LoanRecordsActivity"
            android:label="@string/loan_history"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.addressbook.activity.EditAddressBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.repay.LoanRecordDetailActivity"
            android:label="@string/loan_details"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.repay.LoanRepayResultActivity"
            android:label="@string/result"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.repay.LoanRepayActivity"
            android:label="@string/repayment"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.ChooseBeneficiaryAddressActivity"
            android:label="@string/selected_address"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.addressbook.activity.ChooseAddressBookActivity"
            android:label="@string/select_address"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.repay.ReviewRepayActivity"
            android:label="@string/confirmation_of_repayment"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.RequisiteCertListActivity"
            android:label="@string/required_information"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.LoanAgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.ViewPdfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.CmCertDataActivity"
            android:label="报告原文"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.LoanReportActivity"
            android:label="@string/loan_report"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.LoanReportDetailActivity"
            android:label="@string/loan_details"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.LoanBillDetailActivity"
            android:label="@string/repayment_plan"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.DccAffiliateActivity"
            android:label="@string/invite_friends"
            android:screenOrientation="portrait"
            android:theme="@style/DccLightTheme.App.Transparent.Aff" />
        <activity
            android:name="io.wexchain.android.dcc.DccAffiliateTermsActivity"
            android:label="@string/rules"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.DccAffiliateRecordsActivity"
            android:label="@string/invitation_history"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.CreateScfAccountActivity"
            android:label="@string/enter_invitation_code"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.DccEcoRewardsActivity"
            android:label="@string/eco_rewardsds"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.DccEcoRewardsListActivity"
            android:label="@string/reward_details"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.DccEcoRewardsTermsActivity"
            android:label="@string/rules"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="io.wexchain.dcc"
            android:theme="@style/translucent" />
        <activity
            android:name="io.wexchain.android.dcc.DccMineRewardsTermsActivity"
            android:label="@string/rules"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.tl.TlPayActivity"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.wexchain.intent.action.SIGN_ETH_TRANSACTION_TL" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.wexchain.android.dcc.tl.TlWebPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.addressbook.activity.AddressDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.addressbook.activity.AddressBookQueryActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.wexchain.dcc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="io.wexchain.android.dcc.modules.trans.activity.SelectTransStyleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.trans.activity.Private2PublicActivity"
            android:label="@string/across_trans"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.trans.activity.Public2PrivateActivity"
            android:label="@string/across_trans"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.trans.activity.AcrossTransRecordActivity"
            android:label="@string/across_trans_record"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.trans.activity.TransPublic2PrivateDetailActivity"
            android:label="@string/across_trans_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.trans.activity.TransPrivate2PublicDetailActivity"
            android:label="@string/across_trans_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.ipfs.activity.OpenCloudActivity"
            android:label="@string/title_open_cloud"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.ipfs.activity.ResetPasswordActivity"
            android:label="重置密码"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.ipfs.activity.MyCloudActivity"
            android:label="我的云存储"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.ipfs.activity.CloudAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.ipfs.activity.SelectNodeActivity"
            android:label="选择节点"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.ipfs.activity.EditNodeActivity"
            android:label="编辑节点"
            android:screenOrientation="portrait" />

        <service android:name="io.wexchain.android.dcc.modules.ipfs.service.IpfsService" />

        <activity
            android:name="io.wexchain.android.dcc.modules.selectnode.SelectNodeActivity"
            android:label="@string/select_node"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.base.StaticHtmlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.repay.RepayingActivity"
            android:label="还币"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.repay.DoRepayActivity"
            android:label="还币"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.repay.RePaymentErrorActivity"
            android:label="还币"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.MyInterestActivity"
            android:label="DCC私链币生息1期"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.MyInterestDetailActivity"
            android:label="币生息详情"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.bsx.BuyInterestActivity"
            android:label="认购额度"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.bsx.BsxMarketActivity"
            android:label="币生息"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.bsx.BsxHoldingActivity"
            android:label="币生息持仓"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.mine.SettingActivity"
            android:label="更多"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.home.TokenPlusActivity"
            android:label="Tokenplus介绍"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.bsx.BsxDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.bsx.BsxHoldingDetailActivity"
            android:label="持仓详情"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.home.LoanActivity"
            android:label="信用借币"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.garden.activity.GardenActivity"
            android:label="神秘花园"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.bsx.BsxDccBuyActivity"
            android:label="认购额度"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.bsx.BsxEthBuyActivity"
            android:label="认购额度"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.garden.activity.GardenTaskActivity"
            android:label="每日任务"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.garden.activity.GardenListActivity"
            android:label="阳光记录"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.cashloan.act.CashLoanActivity"
            android:label="法币借贷"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.cashloan.act.CashCertificationActivity"
            android:label="额度申请"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.cashloan.act.LoanInfoActivity"
            android:label="我的借款"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.cashloan.act.MyLoanActivity"
            android:label="我的借款"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.cashloan.act.UserInfoCertificationActivity"
            android:label="真实信息"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.wexchain.android.dcc.modules.cashloan.act.WithDrawActivity"
            android:label="提现"
            android:screenOrientation="portrait"/>
        <activity
            android:name="io.wexchain.android.dcc.modules.cashloan.act.CashLoanRepaymentActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
