.firstSection {
  color: #fff;
  padding-top: 200px;
  background: url(./bg1.png) center center;
  background-size: 100% 100%;
}

.firstSection .section-body>p {
  color: #fff;
}

.thirdSection {
  background: #f6f6f6;
}

.thirdSection img {
  margin: 20px 0 10px;
}

.fourthSection {
  background: url(./bg2.png);
  background-size: 100% 100%;
  text-align: center;
  color: #fff;
}

.fourthSection .section-body>p {
  color: #fff;
}

.sixth {
  background: url(./bg3.png) center center;
  color: #fff;
}

.sixth .section-body>p {
  color: #fff;
}

.sixth table {
  text-align: center;
  border: 1px solid #666;
}

.sixth table td {
  padding: 10px;
}
img{
  max-width: 100%;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border-top: none;
}
@media (max-width:768px) {
  .sixth table {
    max-width: 500px
  }
  .fourthSection p{
    margin: 0;
    padding: 5px;
    line-height: 18px;
  }
  .thirdSection .col-md-4 p:first-child{
    margin: 30px 0 0 0;
    font-size: 18px;
  }
  .thirdSection img{
        font-size: 18px;
    margin: 10px 0;
  }
  .hiddenInMobile{
    display: none;
  }
  .section-header{
    font-size: 24px;
  }
}