<?xml version="1.0" encoding="UTF-8" ?>
<included>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{10}[%method,%line] - %msg%n]]></pattern>
		</encoder>
	</appender>
	<logger name="org.springframework">
		<level value="info" />
	</logger>
	<logger name="org.apache.http.wire">
		<level value="debug" />
	</logger>
	<logger name="io.wexchain.passport.gateway">
		<level value="trace" />
	</logger>
	<root>
		<level value="warn" />
		<appender-ref ref="STDOUT" />
	</root>

</included>