<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
	<insertFromJNDI env-entry-name="java:comp/env/logbackFileLocation"
					as="logbackFileLocation" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{10}[%method,%line] - %msg%n]]></pattern>
		</encoder>
	</appender>
	<logger name="com.wexmarket.topia.commons.basic.competition">
		<level value="warn" />
	</logger>
	<logger name="com.wexmarket.topia.commons.basic.rpc.utils">
		<level value="warn" />
	</logger>
	<logger name="com.wexmarket.broker.fxbtg.function.alogrithm">
		<level value="warn" />
	</logger>
	<logger name="com.wexmarket.broker.fxbtg.service.impl">
		<level value="trace" />
	</logger>
	<logger name="com.wexmarket.broker.fxbtg.schedule">
		<level value="warn" />
	</logger>
	<logger
			name="com.wexmarket.broker.fxbtg.processor.operator.fund.deposit.advancer">
		<level value="trace" />
	</logger>
	<logger
			name="com.wexmarket.provider.leanwork.feederwork.client.impl.handler.codec">
		<level value="warn" />
	</logger>
	<logger name="com.wexmarket.provider.leanwork.feederwork.client">
		<level value="warn" />
	</logger>

	<logger name="com.wexmarket.broker.fxbtg.web.FxbtgFundNotifyController">
		<level value="trace" />
	</logger>
	<logger name="com.wexmarket.broker.fxbtg.ext">
		<level value="trace" />
	</logger>
	<!-- <logger name="com.wexmarket.broker.fxbtg.function.cache.GuavaCacheExpirer">
        <level value="trace" /> </logger> -->
	<logger name="jdbc.sqlonly">
		<level value="info" />
	</logger>

	<logger name="org.springframework.amqp">
		<level value="warn" />
	</logger>
	<!-- <logger name="org.springframework.cache"> <level value="trace" /> </logger> -->
	<logger name="org.springframework">
		<level value="debug" />
	</logger>
	<logger name="org.springframework.web.filter">
		<level value="warn" />
	</logger>

	<logger name="org.apache.cxf.services">
		<level value="trace" />
	</logger>
	<logger name="org.apache.http.wire">
		<level value="debug" />
	</logger>
	<logger
			name="com.wexmarket.provider.leanwork.feederwork.client.impl.handler.codec">
		<level value="trace" />
	</logger>


	<logger name="com.wexmarket.clearing.service">
		<level value="info" />
	</logger>
	<root>
		<level value="warn" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>