<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeXBlockChain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EA488821FB9676C00E2DC8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EA4889A1FB9676C00E2DC8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EA488A51FB9676D00E2DC8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
