.about-view,
.contactIcon {
  background-repeat: no-repeat
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif, Microsoft YaHei, STHeitiSC-Light, simsun, WenQuanYi Zen Hei, WenQuanYi Micro Hei, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased
}

body .container-fluid {
  width: 1280px
}

body .container-fluid p {
  font-size: 12px
}

body .container-fluid h2 {
  font-size: 26px;
  text-align: center;
  margin: 64px 0
}

.contactIcon {
  overflow: hidden;
  background-image: url(../images/contactIcon.png)
}

.contactIcon-email {
  float: left;
  width: 26px;
  height: 26px;
  background-position: 0 0
}

.contactIcon-Telegram {
  float: left;
  width: 25px;
  height: 25px;
  background-position: -1px -36px
}

.navbar {
  border: none;
  background-color: #fff
}

.navbar img[alt=Brand] {
  height: 40px;
  margin-top: 5px;
  margin-left: 40px
}

.navbar .navbar-nav>li>a {
  font-size: 16px;
  padding: 30px!important;
  color: #6b61e1
}

.navbar .navbar-nav>li>a.active,
.navbar .navbar-nav>li>a:hover {
  color: #34c6fa
}

.navbar .navbar-nav>li>a.ctm-btn {
  background-color: #6b61e1;
  color: #fff !important;
  padding: 6px 20px !important;
  border-radius: 4px;
  margin-top: 24px;
  margin-left: 40px;
  margin-right: 60px
}

.navbar.active {
  color: #34c6fa
}

section[class$='-view'] {
  display: flex
}

section[class$='-view'].center-view {
  justify-content: center;
  align-items: center
}

.about-view {
  height: 100vh;
  background-image: url(../images/about-us-bg.png);
  background-size: 100vw 100vh;
  justify-content: center
}

.about-view .left-about {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center
}

.about-view .left-about img {
  width: 220px
}

.about-view .right-about {
  display: flex;
  width: 700px;
  justify-content: center;
  flex-direction: column;
  color: #fff
}

.about-view .right-about h5 {
  color: #25b0ef;
  text-align: center;
  margin: 20px 0;
  font-size: 16px
}

.about-view .right-about a {
  width: 140px;
  color: #25b0ef;
  font-size: 14px;
  border-bottom: 1px solid #25b0ef;
  padding-bottom: 4px;
  text-decoration: none
}

.about-view .right-about p {
  color: #ddd;
  line-height: 24px;
  margin-bottom: 30px
}

.about-view .right-about .contact {
  border: 1px dashed #6b61e1;
  margin-top: 40px;
  padding: 30px 40px;
  position: relative
}

.about-view .right-about .contact h4 {
  margin: 0 0 10px
}

.about-view .right-about .contact img {
  vertical-align: -2px;
  margin-right: 4px
}

.about-view .right-about .contact p {
  margin: 0
}

.about-view .right-about .contact>span {
  position: absolute;
  background-color: #6b61e1;
  color: #fff;
  padding: 8px 20px;
  text-align: center;
  left: 180px;
  bottom: -20px
}
