.li-i18n > div {
    padding: 30px 0;
    margin-right: 30px;
}

.li-i18n a {
    color: #6b61e1;
    text-decoration: none;
}
.li-i18n a:hover {
    color: #34c6fa;
}

footer,
footer .inline-contact span a {
  color: #666
}

footer {
  height: 150px;
  background-color: #0d0f12;
}

/* 修改footer */
.fl{
  float:left;
}
.copyRight {
  width:450px;
  line-height: 150px;
  text-align: center;
  color: #736b93;
  font-size: 1px
}

footer .logo {
  display: block;
  width:380px;
  line-height: 150px;
  padding:0 40px;
}

/*footer .logo img {
  display: block;
  max-width: 100%
}*/

footer .contactBlock {
  display: inline-block;
  float: right;
  height: 70px;
  margin: 40px 0 0 54px
}

.contactIcon-list {
  width: 100%;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  font-size: 16px;
  color: #838383;
  margin: 5px 0
}

.contactIcon-list .contactIcon {
  overflow: hidden;
  background-image: url(../images/contactIcon.png);
  background-repeat: no-repeat
}

.contactIcon-list b {
  margin-right: 6px
}

.contactIcon-email {
  display: inline-block;
  float: left;
  width: 26px;
  height: 26px;
  background-position: 0 0
}

.contactIcon-Telegram {
  display: inline-block;
  float: left;
  width: 25px;
  height: 25px;
  background-position: -1px -36px
}

footer .contactIcon-list span a:hover {
  color: #fff;
  text-decoration: underline
}

footer .contactIcon-list span a {
  color: #838383;
  text-decoration: none
}
footer .shares{
  width:400px;
  height:150px;
  line-height:140px;
  float:right;
}
footer .wx{
  position: relative;
}
footer .wx .dcc{
  position: absolute;
  max-width:80px!important;
  left:-20px;
  top:-100px;
  display:none;
}
footer .wx:hover .dcc{
  display:block;
}