.about-view,
.about-view .about-int,
.contactIcon,
.scenarios-view {
  background-repeat: no-repeat
}

.about-view h2,
.innovate-view h2,
.parnter-view a,
body .container-fluid h2 {
  text-align: center
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif, Microsoft YaHei, STHeitiSC-Light, simsun, WenQuanYi Zen Hei, WenQuanYi Micro Hei, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased
}

body .container-fluid {
  width: 1280px
}

body .container-fluid p {
  font-size: 12px
}

body .container-fluid h2 {
  font-size: 30px;
  margin: 64px 0
}

.contactIcon {
  overflow: hidden;
  background-image: url(../images/contactIcon.png)
}

.contactIcon-email {
  float: left;
  width: 26px;
  height: 26px;
  background-position: 0 0
}

.contactIcon-Telegram {
  float: left;
  width: 25px;
  height: 25px;
  background-position: -1px -36px
}

.navbar {
  border: none;
  background-color: #fff
}

.navbar img[alt=Brand] {
  height: 40px;
  margin-top: 5px;
  margin-left: 40px
}

.navbar .navbar-nav>li>a {
  font-size: 16px;
  padding: 30px!important;
  color: #6b61e1
}

.navbar .navbar-nav>li>a.active,
.navbar .navbar-nav>li>a:hover {
  color: #34c6fa
}

.navbar .navbar-nav>li>a.ctm-btn {
  background-color: #6b61e1;
  color: #fff !important;
  padding: 6px 20px !important;
  border-radius: 4px;
  margin-top: 24px;
  margin-left: 40px;
  margin-right: 60px
}

section[class$='-view'] {
  display: flex
}

section[class$='-view'].center-view {
  justify-content: center;
  align-items: center
}

.thumb-view {
  height: 100vh
}

.thumb-view img[alt=banner-logo] {
  width: 695px;
  height: 396px
}

.about-view {
  height: 700px;
  /*width:100vw;*/
  flex-direction: column;
  background-image: url(../images/about-bg.png);
  background-size: 100vw 700px;
  color: #fff
}

.about-view .desc {
  font-size: 16px;
  margin: -20px 40px 0;
  line-height: 30px
}

.about-view .about-int {
  width: 1266px;
  height: 450px;
  background-image: url(../images/about-line-bg.png);
  background-position: 400px 80px;
  position: relative
}

.about-view .about-int-cirlcle [class^=about-circle] {
  position: absolute;
  width: 173px;
  height: 173px;
  background-size: 128px;
  background-position: 22px 22px;
  background-repeat: no-repeat
}

.about-view .about-int-cirlcle [class^=about-circle]:hover {
  background-size: 173px;
  background-position: 0
}

.about-view .about-int-cirlcle [class^=about-circle]:hover+span+figcaption {
  display: block
}

.about-view .about-int-cirlcle span {
  font-size: 18px;
  position: absolute
}

.about-view .about-int-cirlcle figcaption h5,
.innovate-view .innovate-list h4 {
  font-size: 16px
}

.about-view .about-int-cirlcle figcaption {
  position: absolute;
  width: 355px;
  height: 120px;
  padding: 10px;
  color: #6b61e1;
  background-color: #fff;
  border: 1px dashed #6b61e1;
  border-radius: 4px;
  display: none
}

.about-view .about-int-cirlcle .about-circle-1 {
  background-image: url(../images/about-icon-1.png);
  left: 600px
}

.about-view .about-int-cirlcle .about-circle-1:hover {
  background-image: url(../images/about-icon-1-hover.png)
}

.about-view .about-int-cirlcle .about-circle-1+span {
  left: 650px;
  top: 180px
}

.about-view .about-int-cirlcle .about-circle-1+span+figcaption {
  left: 800px;
  top: 30px
}

.about-view .about-int-cirlcle .about-circle-2 {
  background-image: url(../images/about-icon-2.png);
  left: 340px;
  top: 160px
}

.about-view .about-int-cirlcle .about-circle-2:hover {
  background-image: url(../images/about-icon-2-hover.png)
}

.about-view .about-int-cirlcle .about-circle-2+span {
  left: 400px;
  top: 340px
}

.about-view .about-int-cirlcle .about-circle-2+span+figcaption {
  left: 40px;
  top: 30px
}

.about-view .about-int-cirlcle .about-circle-3 {
  left: 800px;
  top: 230px;
  background-image: url(../images/about-icon-3.png)
}

.about-view .about-int-cirlcle .about-circle-3:hover {
  background-image: url(../images/about-icon-3-hover.png)
}

.about-view .about-int-cirlcle .about-circle-3+span {
  left: 855px;
  top: 410px
}

.about-view .about-int-cirlcle .about-circle-3+span+figcaption {
  left: 840px;
  top: 80px
}

.innovate-view {
  height: 560px;
  background-color: #0d0f12;
  color: #24afec;
  flex-direction: column
}

.innovate-view .innovate-list {
  display: flex;
  margin: 40px 10px;
  height: 120px
}

.innovate-view .innovate-list>div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

.innovate-view .innovate-list>div img {
  margin-right: 15px
}

.innovate-view .innovate-list>div .inno-list-desc {
  border-left: 1px solid #24afec;
  padding-left: 15px;
  height: 80px;
  width: 300px;
  display: flex;
  flex-direction: column
}

.innovate-view .innovate-list>div .inno-list-desc h4 {
  margin-top: 0
}

.bussiness-view {
  flex-direction: column
}

.bussiness-view .buss-list-bg {
  color: #fff;
  height: 260px;
  background-color: #6b61e1
}

.bussiness-view h2 {
  color: #6b61e1
}

.bussiness-view .buss-list {
  display: flex
}

.bussiness-view .buss-list h4 {
  width: 230px;
  border: 1px dashed #6b61e1;
  height: 80px;
  color: #6b61e1;
  text-align: center;
  line-height: 80px;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 40px
}

.bussiness-view .buss-list img {
  height: 120px
}

.bussiness-view .buss-list>div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center
}

.bussiness-view .buss-list p {
  margin: 25px auto 0;
  width: 230px;
  font-size: 16px;
  line-height: 30px
}

.scenarios-view {
  height: 570px;
  background-image: url(../images/scen-bg.png);
  background-size: 100% 570px
}

.scenarios-view h2 {
  color: #3980f0
}

.scenarios-view img.scen-banner {
  height: 240px;
  margin: 30px auto 0;
  display: block
}

.parnter-view {
  height: 600px
}

.parnter-view .part-list {
  display: flex
}

.parnter-view .part-list>div {
  margin: 0 0 40px;
  flex: 1
}

.parnter-view .part-list img {
  width: 340px;
  display: block;
  margin: 0 auto
}

.parnter-view a {
  display: block;
  border: none;
  width: 180px;
  border-radius: 6px;
  height: 40px;
  margin: 20px auto 0;
  background-color: #6b61e1;
  color: #fff;
  line-height: 40px
}

