<manifest package="worhavah.mobilecertmodule"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:label="android:label"
        tools:replace="android:label">

        <activity
            android:name="worhavah.tongniucertmodule.SubmitTNLogActivity"
            android:label="同牛手机运营商认证"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name="worhavah.tongniucertmodule.TnLogCertificationActivity"
            android:label="同牛手机运营商信息"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="worhavah.tongniucertmodule.TNCertDataActivity"
            android:label="报告原文"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>
